<div class="contact-form-area">
  <div class="container">
    <div class="row">
      <div class="card">
        <h2>Modifier mes informations</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <i>(laissez vide si vous ne souhaitez pas le modifier)</i><% if @minimum_password_length %>
              <em><%= @minimum_password_length %> caractères minimum</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Nouveau mot de passe" %>

          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Confirmation du nouveau mdp" %>
          </div>

          <div class="field">
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', placeholder: "Mot de passe actuel" %>
          </div>

          <div class="actions">
            <%= f.submit "Mettre à jour", class: "btn" %>
          </div>
        <% end %>

        <h3>Supprimer mon compte</h3>

        <p>Mécontent ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr(e) ?" }, method: :delete, class: "btn" %></p>

        <%= link_to "Retour", :back %>
      </div>
    </div>
  </div>
</div>