<div class="form_width">
  <div class="contact-form-area">
  <div class="col-12">

  <div class="card">

<h2>Inscription</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="contact-form-area">
  <div class="field">
    <%= f.text_field :username, placeholder: "Pseudo", autofocus: true, autocomplete: "email", class: "form-control", id: "session_email"%>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "Email", placeholder: "Email", class: "form-control", id: "session_email" %>
  </div>

  <div class="field">

    <%= f.password_field :password, autocomplete: "Mot de passe", placeholder: if @minimum_password_length 
    "Mot de passe (#{@minimum_password_length} caractères mini)"
    end, class: "form-control", id: "session_email" %>
 
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "Confirmation mot de passe", placeholder: "Confirmation du mot de passe", class: "form-control", id: "session_email" %>
  </div>

  <div class="actions">
    <%= f.submit "S'inscrire" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
</div>

