 <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Follow Us Instragram</h5>
                </div>
            </div>
        </div>
        <!-- Instagram Feeds -->
        <div class="insta-feeds d-flex flex-wrap">
            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
               <%= image_tag ("recette9.jpg") %>
                
                <!-- Icon -->
                <div class="insta-icon">
                    <a target="_blank" href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <%= image_tag ("recette3.jpg") %>
                <!-- Icon -->
                <div class="insta-icon">
                    <a target="_blank" href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
             <div class="single-insta-feeds">
                <%= image_tag ("recette6.jpg") %>
                <!-- Icon -->
                <div class="insta-icon">
                    <a target="_blank" href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <%= image_tag ("recette8.jpg") %>
                <!-- Icon -->
                <div class="insta-icon">
                    <a target="_blank" href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>


            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <%= image_tag ("recette2.jpg") %>
                <!-- Icon -->
                <div class="insta-icon">
                    <a target="_blank" href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>


            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <%= image_tag ("recette10.jpg") %>
                <!-- Icon -->
                <div class="insta-icon">
                    <a target="_blank" href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>


            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <%= image_tag ("recette4.jpg") %>
                <!-- Icon -->
                <div class="insta-icon">
                    <a target="_blank" href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                         <%=image_tag 'soullogo.png', :height => '200', :width => '200'%> 
                    </div>
                    <!-- Copywrite -->

                </div>
            </div>
        </div>
    </footer>
    
