<header>

    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-between">
                <!-- Breaking News -->
                <div class="col-12 col-sm-6">
                    <div class="breaking-news">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="/">Soul Kitchen</a></li>
                                <li><a href="/">Hello !</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Top Social Info -->
                <div class="col-12 col-sm-6">
                    <div class="top-social-info text-right">
                        <a href="https://www.youtube.com/watch?v=mt4kwxSF9yw"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="https://fr.wikipedia.org/wiki/Rennes"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/watch?v=IFnUm7z97Is"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/watch?v=2wpvPvNrO-g"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="https://www.joel-robuchon.com/"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/sooul_kitchen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/watch?v=ZyXGccUOAeI"><i class="fa fa-google" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/"> <%=image_tag 'soullogo.png', :height => '200', :width => '200'%> </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li class="active"><%= link_to "Home",  root_path %> </li>

                                <li><a href="#">Nos recettes par catégories</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Régime</li>
                                                <li><a href="/categories/1">Végétarien</a></li>
                                                <li><a href="/categories/2">Carnivore</a></li>
                                                <li><a href="/categories/3">Végan</a></li>
                                                <li><a href="/categories/4">Piscivore</a></li>
                                                <li><a href="/categories/14">Sans gluten</a></li>
                                                <li><a href="/categories/15">Sans lactose</a></li>
                                                <li><a href="/categories/5">Sucré</a></li>
                                                <li><a href="/categories/6">Salé</a></li>
                                                <li><a href="/categories/7">Sucré-salé</a></li>
                                                <li><a href="/categories/16">Avec fromage</a></li>
                                                <li><a href="/categories/17">Avec alcool</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Culture</li>
                                                <li><a href="/categories/18">Américain</a></li>
                                                <li><a href="/categories/19">Anglais</a></li>
                                                <li><a href="/categories/20">Chinois</a></li>
                                                <li><a href="/categories/21">Espagnol</a></li>
                                                <li><a href="/categories/22">Français</a></li>
                                                <li><a href="/categories/24">Indien</a></li>
                                                <li><a href="/categories/23">Italien</a></li>
                                                <li><a href="/categories/25">Japonais</a></li>
                                                <li><a href="/categories/26">Scandinave</a></li>
                                                <li><a href="/categories/27">Portugais</a></li>
                                                <li><a href="/categories/28">Tex-mex</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Menu</li>
                                                <li><a href="/categories/8">Apéritif</a></li>
                                                <li><a href="/categories/13">Amuse-gueule</a></li>
                                                <li><a href="/categories/9">Entrée</a></li>
                                                <li><a href="/categories/10">Plat</a></li>
                                                <li><a href="/categories/11">Dessert</a></li>
                                                <li><a href="/categories/12">Soupe</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <div class="receipe-slider owl-carousel">
                                                    <a href="#"><img src="img/bg-img/bg1.jpg" alt=""></a>
                                                    <a href="#"><img src="img/bg-img/bg6.jpg" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                <% if user_signed_in? %>
                                    <li> <%= link_to "Profil", user_path(current_user.id)  %> </li>
                                    <li> <%= link_to("Proposer une recette", new_recipe_path ) %> </li>
                                <% else %>
                                    <li> <%= link_to "Se connecter", new_user_session_path%> </li>
                                    <li> <%= link_to "S'inscrire", new_user_registration_path%> </li>
                                <% end %>
                                      
                                <li><%= link_to("Nous contacter", new_message_path ) %></li>
                            </ul>

                            <div class="cn-dropdown-item has-down">
                                <img  onclick="myFunction()" class="dropbtn" class="rounded-circle" height="25px" width="25px" <%= image_tag ("user.png") %>> 
                                <div id="myDropdown" class="dropdown-content" >
                                    <% unless user_signed_in? %>
                                      <li class="dropdown">
                                        <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
                                      </li>
                                      <li class="dropdown">
                                        <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
                                      </li>
                                    <% else %>
                                      <div class="dropdown" >
                                        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %>
                                      </div>
                                      <div class="dropdown" >
                                        <%= link_to("Proposer une recette", new_recipe_path ) %>
                                      </div>
                                    <% end %>
                                </div>
                            </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->
<br />
<br />
<br />
<br />
