<header>

 

 

        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Soul Kitchen</a></li>
                                    <li><a href="#">Hello !</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"> <%=image_tag 'soullogo.png', :height => '200', :width => '200'%> </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><%= link_to "Home",  root_path %> </li>
                                    
                                    <% if user_signed_in? %>
                                        <li> <%= link_to("Mon Profil", user_path ) %> </li>
                                        <li> <%= link_to("Proposer recette", new_recipe_path ) %> </li>
                                    <% else %>
                                        <li> <%= link_to "Se connecter", new_user_session_path%> </li>
                                        <li> <%= link_to "S'inscrire", new_user_registration_path%> </li>
                                    <% end %>
                                       
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>

                                <div class="cn-dropdown-item has-down">
   
                                  <img  onclick="myFunction()" class="dropbtn" class="rounded-circle" height="25px" width="25px" <%= image_tag ("user.png") %>> 

                                  <div id="myDropdown" class="dropdown-content" >
                                    <% unless user_signed_in? %>
                                      <li class="dropdown">
                                        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
                                      </li>
                                      <li class="dropdown">
                                        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                                      </li>
                                    <% else %>
                                      <div class="dropdown" >
                                        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                                      </div>
                                      <div class="dropdown" >
                                        <%= link_to("Proposer recette", new_recipe_path ) %>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->